<p>Redacted makes it quick and easy to redact parts of an image. Hide sensitive details of an image by simply clicking and dragging. You can redact an image in three different ways:</p>
<ul class="list">
  <li>Pixelate</li>
  <li>Blur</li>
  <li>Black bar</li>
</ul>
<p>Quickly drag and drop an image into Redacted or simply paste an image to get going. When you're done, share it to Facebook, Twitter, and more with Yosemite's new share menu or simply copy the image out of Redacted.</p>

<p>Watch a <a href="https://vimeo.com/126281352" rel="external nofollow">video demo</a> of Redacted.</p>

<p class="download"><a href="https://itunes.apple.com/app/redacted/id984968384?mt=12&amp;uo=6&amp;at=1l3vmtU&amp;ct=" rel="external nofollow"><img src="/assets/mac-app-store.svg" width="165" height="40" alt="Download on the Mac App Store"></a></p>
