<h3>Press</h3>

<p>For press inquiries, please contact <a href="mailto:press@nothingmagical.com?subject=Redacted Press Inquiry">press@nothingmagical.com</a>. Want to review Redacted and need a promo code? Just ask! <a href="mailto:press@nothingmagical.com?subject=I'd like to review Redcated for Mac!">Send us an email</a> and we'll be glad to send one your way.</p>

<h4>Press Kit</h4>
<p>The Redacted press kit includes Redacted Mac   app icon, Mac screenshots, and Nothing Magical logo.</p>

<p><strong><a href="https://nothingmagical.s3.amazonaws.com/Redcated%20Press%20Kit.zip" rel="external nofllow">Download Press Kit</a></strong>
