<h3>Support</h3>

<h4>What kind of images does Redacted support?</h4>
<p>Redacted can work with any image you can open in Preview.</p>

<h4>Does Redacted support PDFs?</h4>
<p>Currently, no. Dealing with PDFs is extremely complicated. I'm holding off on PDF support until I can ensure I remove all of the redacted area from the document. This is something I definitely want to add in the future.</p>

<h4>Will you support an older version of OS X than Yosemite?</h4>
<p>Sorry, no. Redacted is built on top of the latest Apple technologies. You can upgrade to Yosemite for free in the App Store.</p>

<h4>Is the blur reversible?</h4>
<p>Technically, yes. This is the nature of blur algorithms. (You can read more about this <a href="https://dheera.net/projects/blur" rel="external nofollow">here</a>.) I have plans to make it much harder to reverse by adding random noise below the blur. That will be coming in a future version. If you want to redacted something very sensitive, use the black bar mode.</p>

<h4>Are you making an iOS version?</h4>
<p>Yes! It's mostly complete and should be available in the next several weeks!</p>

<h4>Will you make a Windows or Android version?</h4>
<p>Sorry, no. Redacted it built on top of Apple's technologies. Rewriting it for Windows or Android would take a ton of time that I'd rather spend working on new ideas.</p>

<h4>Who makes Redacted?</h4>
<p>Redacted was designed and developed by <a href="http://nothingmagical.com" rel="external nofollow">Nothing Magical Inc.</a> in California.</p>

<h4>My question wasn't answered. Help!</h4>
<p>Just <a href="mailto:support@nothingmagical.com?subject=Redacted for Mac Support">email me</a> and I'll get you taken care of!</p>
